@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #ffffff;
  }
}

.ant-modal-content {
  padding: 0 !important;
}
